$primary-color: #fff;
$secondary-color: #0065f2;

$text-primary: #fff;
$text-secondary: #999;
$text-black: #000;

@mixin transition-linear {
    transition: 0.3s all linear;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin media-sm {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 321px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1441px) {
        @content;
    }
}

@mixin border-shadow {
    box-shadow: 0 0 3px #ccc;
}

@mixin section-gap {
    margin: 40px 0;
}

@mixin double-col {
    .content:not(.content2) {
        flex-flow: row;
        justify-content: space-between;
        > div {
            width: 50%;
        }
    }
}
