// Brands
.brands {
    // padding: 2rem 1.5rem;

    > * {
        margin: 2rem 0;
    }

    &__header {
        text-align: center;
        color: $text-secondary;
        font-size: 1rem;
        font-weight: 400;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        align-items: center;
        img {
            height: 100%;
            width: auto;
            margin: 10px 0;
        }
    }

    &__brand {
        @include flex-center;
    }
}
@include media-md {
    .brands {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include media-lg {
    .brands {
        &__list {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}
// Image frame + Content
.content1 {
    flex-direction: column-reverse !important;
    > div:nth-child(2) {
        margin-bottom: 19px;
    }
}
.img-frame {
    overflow: hidden;
    min-height: 320px;
    min-width: 290px;
    max-width: 300px;
    // width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    &__img1 {
        // margin-left: 56.17px;
        display: inline-block;
        height: 293.96px;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
    }
    &__img2 {
        width: 182.59px;
        height: 166.02px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    img {
        width: auto;
        height: 100%;
    }
}
@include media-lg {
    .content1 {
        flex-direction: row !important;
        .img-frame {
            &__img2 {
                // height: 100%;
            }
        }
    }
}

// Video section + Content
.content2 {
    @include section-gap;
    &__video {
        img {
            width: 100%;
        }

        &__caption {
            padding: 0 5%;
            text-align: center;
        }
    }

    > * {
        margin: 15px 0;
    }
    .content__para {
        text-align: center;
    }
}

@include media-lg {
    .content2 .content__para {
        padding: 0 30%;
    }
}

// Chart section + Content
.content3 {
    @include section-gap;
    &__chart {
        img {
            width: 100%;
        }
    }
}
.content4 {
    &__chart {
        img {
            width: 100%;
        }
    }
}

// Pricing section
.pricing {
    @include section-gap;
    &__tagline {
        text-align: center;
    }

    &__headline {
        text-align: center;
    }

    &__tabtool {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            @include transition-linear;
            padding: 10px;
            border: 2px solid white;
            color: $text-secondary;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background-color: rgba(180, 180, 180, 0.062);
            }
            &.active {
                border-bottom: 2px solid $secondary-color;
                color: $secondary-color;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &__tabpage:not(.active) {
        display: none;
    }

    &__card {
        padding: 24px;
        margin: 20px 0;
        min-height: 558px;
        display: flex;
        flex-flow: column;
        @include border-shadow;

        > *:not(:last-child) {
            margin: 8px 0;
        }
        &-type {
            font-size: 18px;
            text-align: right;
            margin-bottom: 38px;
        }
        &-divider {
            border-bottom: 1px solid $text-secondary;
            width: 100%;
            margin-bottom: 16px;
        }

        &-price {
            font-size: 56px;
            margin-bottom: 24px;
            span {
                font-size: 18px;
                font-weight: 600;
            }
        }

        &-description {
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
            p {
                margin-bottom: 16px;
            }
            ul {
                margin-left: 1rem;
            }
        }

        &-action {
            margin-bottom: 0px;
            margin-top: auto;
            width: 100% !important;
        }
    }
    &__tab {
        padding-top: 42px;
    }
    > * {
        margin: 20px 0;
    }
}

@include media-md {
    .pricing {
        &__card {
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
// Accordion
.accordions_section {
    h2 {
        text-align: center;
    }
    .accordions {
        &_key {
            height: 61px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 15px;
            font-weight: 600;
            font-size: 16px;
            img {
                @include transition-linear;
            }
        }

        &_accordion {
            @include border-shadow;
            margin: 20px 0;
            cursor: pointer;
            @include transition-linear;
            &:hover {
                box-shadow: 0 0 8px #ccc;
            }
        }
        &_body {
            padding: 12px 15px;
            &:not(.active) {
                // display: none;
            }
        }
    }
}
@include media-md {
    .accordions {
        &_accordion {
            max-width: 730px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}
// Content 5
.content5 {
    text-align: center;
    @include section-gap;
    > * {
        margin: 20px 0;
    }
}

@include media-lg {
    .s-content1 {
        display: flex;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
        flex-flow: column;
        padding-left: 80px;
    }
    .s-content2 {
        @extend .s-content1;
        padding-left: 0;
    }
    .content4 {
        flex-direction: row-reverse !important;
    }
    .content__multi-content > div {
        width: auto !important;
    }

    .pricing__tabpage.active {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    .notion-carousel__item {
        padding: 0 165px !important;
    }
    .notion-carousel__navigator{
        padding: 20px 0 20px 165px;
    }
}

@include media-xl {
    .pricing__tabpage.active {
        max-width: calc(1440px - 380px);
        margin-left: auto;
        margin-right: auto;
    }
}

