@import "config";
@import "home";
@import "header";
@import "carousel";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
    border: none;
}

body {
    font-size: 14px;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: Helvetica;
}

h1 {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 600;
}

.action-button {
    padding: 12px 0;
    color: $primary-color;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    min-width: 124px;
    cursor: pointer;
    @include transition-linear;
    &:hover {
        background-color: darken($secondary-color, 20%);
    }
}
@include media-md {
    .action-button {
        min-width: 124px !important;
    }
}
section:not(.cover) {
    padding: 0 15px;
    overflow: hidden;
}
@include media-lg {
    section:not(.cover) {
        padding: 0 165px;
    }
}
.content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    .action-button {
        // width: 100%;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__para {
        margin-bottom: 30px;
    }

    &__multi-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
    }
}
@include media-lg {
    .content {
        &__header {
            font-size: 40px;
        }
    }
    .desk-h {
        font-size: 40px;
        padding: 0 20%;
    }
}
@include media-md {
    // @include double-col;
    // .content__multi-content{
    // grid-gap: 20;
    // grid-template-columns: repeat(1, 1fr);
    // }
}
@include media-lg {
    @include double-col;
    // .content__multi-content{
    //     grid-gap: 60;
    //     grid-template-columns: repeat(2, 1fr);
    // }
}

@include media-md {
    .content {
        flex-flow: column;
        &__multi-content {
            justify-content: space-between;
            > div {
                width: 35vw;
                margin: 0;
            }
        }
    }
}

a.read-more {
    color: $secondary-color;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    &::after {
        content: "›";
        padding-left: 5px;
        @include transition-linear;
    }
    &:hover {
        &::after {
            padding-left: 15px;
        }
    }
}

@include media-lg {
    .t-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column;
    }
    .content5 {
        flex-flow: column !important;
        h2 {
            padding: 0 20%;
        }
    }
}
